.container{
    margin: 50px auto;
    display:flex;
    justify-content: center;
}
.container button{
    width: 30px;
    height: 30px;
    /* background-color: rgba(128, 0, 128, 0.719); */
    background-color: #af7fb7 ;
    color: white;
    text-align: center;
    margin: 0px 10px ;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
}
p{
    font-size: 16px;
    font-weight: bold;
}
.count-para{
    margin: 0 auto;
    width: 200px;
    display:flex;
    justify-content: space-evenly;
}
span{
    color: #c154d3;
    font-size: 18px;
}